<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <title>Homepage</title>
    </head>

    <body>
        <h1>This is the homepage</h1>
        <img src="/images/node-express.png"
    </body>

</html>